<section class="w-full h-screen flex flex-col justify-center items-center">
    <h1 class="text-6xl text-black font-bold">About</h1>
    <p class="text-xl text-black font-semibold">I made this.</p>
</section>